{% extends '::base.html.twig' %}


{% block javascripts %}

    {% javascripts  filter='requirejs' '@TommyPymntMainBundle/Resources/assets/js/main.js' %}
         {{ require_js_initialize({ 'main' : asset_url }) }}
    {% endjavascripts %}
    {% stylesheets  '@TommyPymntMainBundle/Resources/assets/scss/index.scss' filter='scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <ul>
        <li><a href="{{ path('login') }}">LOGIN</a></li>
        <li><a href="{{ path('register') }}">REG</a></li>
        <!--<li><a href="{{ path('logout') }}">LOGOUT</a></li>-->
        <li><a href="{{ path('tommy_pymnt_main_cabinet') }}">CABINET</a></li>
        <li><span>Hello <b>{{ name }}</b>!</span></li>
    </ul>




{% endblock %}